<!doctype html>
<html>
  <head>
    <title>Test connection</title>
  </head>
  <body>

    <div>
        <p>
            Total users <span id="total">0</span>
        </p>

        <label>
            <input disabled type="checkbox" id="online" /> Are you online?
        </label>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      (function () {
        const socket = io('http://localhost:9001', {
          rememberUpgrade: true,
          transports: ['websocket'],
          secure: true,
          rejectUnauthorized: false
        });

        const field = document.querySelector('#online');
        const totalUsers = document.querySelector('#total');

        let coords = null;

        socket.on('total connection', total => totalUsers.innerText = total);

        navigator.geolocation.getCurrentPosition(position => {
          coords = position.coords;
          field.removeAttribute('disabled');
        }, () => {
          alert('You must show your coordinates');
        });

        function randomCoordinates(lat, long) {
          const value = (Math.random() * 10) >= 5 ? 1 : -1;
          const newLat = lat + (Math.random() / 4 * value);
          const newlong = long + (Math.random() / 3 * value);
          return [newLat, newlong];
        }

        field.onchange = () => {
          if (coords) {
            if (field.checked) {
              const [lat, lng] = randomCoordinates(coords.latitude, coords.longitude);
              socket.emit('add connection', { lat, lng });
            } else {
              socket.emit('remove connection');
            }
          } else {
            alert('You must show your coordinates');
          }
        };
      })();
    </script>
  </body>
</html>
